In [1]:
import pandas as pd

In [146]:
df=pd.read_csv('test_asr.csv')

In [151]:
df.head()

,text,txt,ind
0,1. У меня есть менеджер Борисов Борис Борисови...,"У меня есть менеджер Борисов Борис Борисович,...",1
1,2. Нужно внутренний номер назвать? У нас по-мо...,Нужно внутренний номер назвать? У нас по-моем...,2
2,3. Мне нужен наш персональный менеджер Борисов...,Мне нужен наш персональный менеджер Борисов Б...,3
3,4. Можно соединить с Борисов Борис Борисович?,Можно соединить с Борисов Борис Борисович?,4
4,5. Можете соединить или дать прямой телефон. З...,Можете соединить или дать прямой телефон,5

In [148]:
def new_cols(df):
    df['txt']=0
    df['ind']=0
    for i in range(len(df)):
        df['ind'].iloc[i]=df['text'].tolist()[i].split('.')[0]
    for i in range(len(df)):
        df['txt'].iloc[i]=df['text'].tolist()[i].split('.')[1]

In [144]:
def new_txt(i):
    name=str(i+1)
    f=open(name + ".txt","w")
    st=df['txt'].iloc[i]
    f.write(st)

In [133]:
new_cols(df)
for i in range(len(df)):
    new_txt(i)